<style>
h1 {
    font-size: 36px;
    font-weight: bolder;
    margin-left: 50px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    margin-left: 40px;
}
</style>

<h1><%= image_tag  "checkmark.png" %> Check It Off </h1>
<h3> Keeping Your Assignments Organized! </h3>

<h2> Log In </h2>

<div id="users-login">
    <users-login>
    </users-login>
</div>
<%= javascript_pack_tag 'users/login' %>