<style>
#login-form {
    margin-top: 0px;
    width: 400px;
    padding-top:40px;
    position: center;
    border: 3px solid grey;
    border-radius: 0px 0px 15px 15px;
    border-top:none;
    height: 350px;
}
#login-form-header {
    text-align:center;
    background-color: #337ab7;
    color: white;
    margin-top: 100px;
    width: 400px;
    position: center;
    border: 3px solid grey;
    border-radius: 15px 15px 0px 0px;
    border-bottom: none;
    height: 60px;
}
</style>

<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" ><%= image_tag  "notebook-list-3.png" %></a>
        <a class="navbar-brand" style="margin-top:0px; color:white; font-size: 30px">Check It Off <br><p style="font-size: 11px">Keeping Your Assignments Organized!</p></a>
    </div>
    <ul class="nav navbar-nav" style="margin-top:20px; font-size:16px; display:inline;">
        <li><a href="/welcome/index">Home</a></li>
        <li><a href="#">Create Account</a></li>
        <li><a href="/sessions/new">Login</a></li>
    </ul>
  </div>
</nav>

<div class="container" id="login-form-header">
    <h2> Create Account </h2>
</div>
<div class="container" id="login-form">
    <div id="users-signup">
        <users-signup>
        </users-signup>
    </div>
    <%= javascript_pack_tag 'users/signup' %>
    <p>Already a member?
        <a href="/users/new">Log In</a>
    </p>
</div>